{% extends 'base.html' %}

{% block content %}
    <h2>Welcome, {{ user_profile.display_name }}</h2>
    <p>Email: {{ user_profile.email }}</p>
    <p>Country: {{ user_profile.country }}</p>
    <p>Product: {{ user_profile.product }}</p>

    {% if top_song %}
        <h3>Most Listened-To Song:</h3>
        <div style="display: flex; align-items: flex-start;">
        <div style="flex: 1; margin-right: 10px;">
            <p>Title: {{ top_song.title }}</p>
            <p>Artist: {{ top_song.artist }}</p>
            <p>Album: {{ top_song.album }}</p>
            <p>Global Popularity: {{ top_song.popularity }}</p>
        </div>
        <div>
            <img src="{{ top_song.image_url }}" alt="Album cover" style="max-width: 165px; margin-right: 755px; border:5px solid #1DB954;">
        </div>
    </div>
    {% else %}
        <p>No data available for top song.</p>
    {% endif %}
<h3>Top 3 Artists</h3>
    {% if top_artists %}
        <ol style="display: flex; padding: 0;">
            {% for artist in top_artists %}
                <li style="margin: 10px; text-align: center;">
                    <h4>{{ artist.name }}</h4>
                    <p>Genre: {{ artist.genre }}</p>
                    {% if artist.image_url %}
                        <img src="{{ artist.image_url }}" alt="Image of {{ artist.name }}" width="150" style = "border:5px solid #1DB954;">
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No data available for top artists.</p>
    {% endif %}
{% endblock %}